<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Welcome</a></p>
  <p><a href="/Inishmore">Inishmore</a></p>
  <p><a href="/Inishmaan">Inishmaan</a></p>
  <p><a href="/Inisheer">Inisheer</a></p>
</header>
