<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Aran Islands</title>
  </head>

  <body>
    {{> header}}

    <p>A chain of three islands, the Aran Islands can be found at the mouth of
      Galway Bay in the west of Ireland. Home to approximately 1,200 people,
      the Aran Islands remain one of the last strongholds of Celtic culture in
      Ireland. Being part of the Gaeltacht -the officially recognized regions
      where Gaelic remains the predominantly spoken language at home - Gaelic
      remains the primary language among the people who live here. Due to both
      the availability of English TV (since the 1960’s) and the plethora of
      opportunities on the mainland and beyond, Gaelic has nonetheless been on
      the decline here as many young people are leaving in droves. Home to
      several ancient Hill-forts such as Dun Aengus (Inishmore) and Dun
      Chonchuir, as well as the remains of many stonewalls that now constitute
      pens for local livestock, the Aran Islands still strongly exude the times
      of old. Clocháns (beehive like stone structures) built for use in early
      monasteries, can still be found dating to the early arrival of Christianity
      to Ireland. Today, despite population decline, the Aran Islands remain a
      popular tourist destination. </p>

    {{> footer}}
  </body>
</html>
