<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Aran Islands</title>
  </head>

  <body>
    {{> header}}

    <p>A brief interlude into the history and geography of the Aran islands.</p>

    {{> footer}}
  </body>
</html>
