<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inisheer</title>
  </head>

  <body>
    {{> header}}

    <p>The smallest of the three Aran islands, Inisheer (Irish: Inis Oírr)
      nonetheless boasts a disproportionally large number of residents for its
      size at around 260 people. Boasting a terrain to both of it neighbors, Inisheer,
      nonetheless, boasts a relatively more colorful political history, being
      directly under the rule of the O’Brien dynasty, the oft-time kings of the
      nearby kingdom of Thomond in what is today county Clare. The O’Briens’
      historic sway over the island can still be seen in what remains of their
      14th century castle which stands at the highest point of the island.
      Their rule here, however, was cut short in 1582 when the O’Flahertys,
      the ruling dynasty of nearby Connemara, captured their castle on the
      island. The O’Flahertys' own rule here lasted only another eighty years
      ending with their defeat by Oliver Cromwell in 1652 permanently bringing
      an end to the castle's effective use.</p>

    {{> footer}}
  </body>
</html>
