<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inishmaan</title>
  </head>

  <body>
    {{> header}}

    <p>The second largest of the Aran Islands, Inishmann (Irish: Inis Meáin -
      ‘middle island’) lies between the larger Inishmore (to the west) and the
      smaller Inisheer (to the east). Inishmaan has the smallest population of
      the three islands boasting just over 150 people - just over a tenth of the
      three island’s combined population. Given its close proximity to Inishmore,
      Inishmaan has a similar terrain boasting vast limestone beds scarred with
      cracks known as “grikes”. Past glacial coverage greatly contributed to
      these denuded lengths of limestone and caused for greater and deeper
      fissures to form leaving extensive instances of “clints” - isolated rock
      slabs. Like its larger neighbor, Inishmaan, also boasts a long history of
      human settlement and lies host to not one, but two hill-forts:
      Dún Chonchúir (Conor’s fort), an oval pre-Christian fort, and Dún Fearbhaí,
      a 4th century rectangular fort.</p>

    {{> footer}}
  </body>
</html>
