<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inish</title>
  </head>

  <body>
    {{> header}}

    <p>The largest of the Aran Islands, Inishmore is also home to a vast
      majority of the three islands’ population being the residence of
      approximately 800 people. Inishmore is also home to Dun Aengus, the
      sizable hill-fort that haunts its landscape and draws hundreds if not
      thousands of tourists each year. The island remains a bastion of Irish
      culture and language as well as a major repository of both historic and
      pre-historic settlement.</p>

    {{> footer}}
  </body>
</html>
